html{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	/*overflow:hidden;*/

}
body{
	margin:0;
	padding:0;
	display:flex;
	width:100%;
	height:calc(100% - 70px);
	margin-top:70px;

}
#iframeAnimation{
	height:100%;
	width:77%;
	border:none;
	padding:0;
	margin:0;
	overflow:hidden;
}
.settings{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:23%;
	height:100%;
background-color:#4BC2C5;
}
.hardSettings{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-around;
	width: 92%;
	height:61.23px;
	background-color:#3B9A9C;
}
.hardSettingsImg{
	
	width:15%;
}


.dropdown {
	width: 92%;
	margin-top:2%;
	height:80%;

	position: relative;
	display: inline-block;
	font-family:RobotoRegular;
}



.dropdown-content {
	max-height:100%;
	overflow:auto;
	width:100%;
 
  	position: absolute;
    background-color: #3B9A9C;/*verde*/
  	/*min-width: 160px;*/
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	text-align:center;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    color: #FEF4A9; /*galben*/
}

.dropdown-content a:hover {
	background-color: #40A4A6;
}

 .dropdown-content {
  display: block;

}


.dropdown:hover  {
  background-color: #358586;

}

#active{
	 background-color: #358586;
}


