 
.container{
	width:100%;
	height:100vh;
	margin-top:100px;
}	
.chatBoxType1{
	margin-left:4.6875%;
	width:56.77%;
	border-radius:45px;
	box-shadow:9px 9px 6px rgba(0,0,0,0.16), -9px -6px 9px rgba(255,255,255,0.16);

}
.chatTextType1{
	font-family:RobotoLightItalic;
	color:#78FEE0;
	font-size:1.25em;
	text-align :center;
	padding:4% 4.58%;
}

div.chatBoxType2{
	float:right;
	margin-top:3%;
	margin-right:4.6875%;
	width:56.77%;
	background-color:rgba( 	75, 194, 197,0.54);
	border-radius:45px;
	box-shadow:9px 9px 6px rgba(0,0,0,0.16), -9px -6px 9px rgba(255,255,255,0.16);

}
.chatTextType2{
	font-family:RobotoLightItalic;
	color:#78FEE0;
	font-size:1.25em;
	text-align :center;
	padding:4% 4.58%;
}


