/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width:600px) {

.chatTextType2{
	font-size:1.25em;
}
.chatTextType1{
	font-size:1.25em;
}
.navbarMeniu{

	font-size:0.65em;
	margin:calc(17.5px + 1em);
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { /*phones*/
.navbar{
	
		height:120px;
}
.container{
	margin-top:150px;
}
.logoImg{
		height:105px;
}
.navbarMeniu{
	font-size:1.25em;
	margin:calc(30px + 0.65em);
}

.socialMediaLogo{
	height:70px;
}
.chatTextType2{
	font-size:1.5em;
}
.chatTextType1{
	font-size:1.5em;
}
.imagesShowCase{
	float:right;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	width:56.77%;
	margin-right:4.6875%;
	margin-top:3%;
}
.firstSessionAnchor{
	width:49%;
	margin-right:1%;
	margin-top:1%;
}
.firstSession{
	width:100%;
	height:auto;
}
.imagesShowCase2{
	display:flex;
	flex-wrap:wrap;
	width:56.77%;
	margin-top:3%;
	margin-left:4.6875%;
}
.secondSessionAnchor{
	width:49%;
		margin-right:1%;
	margin-top:1%;
}
.secondSession{
	width:100%;
	box-shadow:9px 9px 6px rgba(0,0,0,0.16);
	border-radius:10%;
}
/*end home page*/
/* contact page*/
.contactCard{
	width:75vw;
	border-radius:7.55vw;	
}
/*end contact page */
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 

	.chatTextType2{
	font-size:2em;
}
.chatTextType1{
	font-size:2em;
}
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.navbar{
	height:70px;


}
.logoImg{
	height:55px;
}
  	.navbarMeniu{
	font-size:1.1em;
	margin:calc(35px - 0.65em);
}

.socialMediaLogo{
	height:50px;
}
.container{
	margin-top:100px;
}
	.chatTextType2{
	font-size:1.5em;
}
.chatTextType1{
	font-size:1.5em;
}
.imagesShowCase{
	display:flex;
	
	float:right;
	width:56.77%;
	margin-right:4.6875%;
	margin-top:3%;
}
.firstSessionAnchor{
	width:32.33%;
	margin-right:1%;
	margin-top:1%;
}
.firstSession{
	width:100%;
	height:auto;
}
.imagesShowCase2{
	display:flex;

	width:56.77%;
	margin-top:3%;
	margin-left:4.6875%;
}

.secondSessionAnchor{
	width:24%;
		margin-right:1%;
	margin-top:1%;
}
.secondSession{
	width:100%;
	box-shadow:9px 9px 6px rgba(0,0,0,0.16);
	border-radius:10%;
}
/*end home page*/
/*contact page*/
.contactCard{
	width:23.43vw;
	height:65.18vh;
	margin-left:20px;
	border-radius:3.55vw;
}
.nonMarginTop{
	margin:0px !important;
}
/*end contact page*/

} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


} 